<!DOCTYPE html>
<html>
  <head>
    <title>Trallo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# <script src="https://kit.fontawesome.com/a076d05399.js"></script> %>
    <script src="https://kit.fontawesome.com/0489562293.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
